<body>
    <app-homepage></app-homepage>
    <div class="home">
        <button class="button1" routerLink="/adminHome" type="button">Home</button>
    </div>


    <div class="table-list">
        <table class="routes">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date of Travel</th>
                <th>Travel Route</th>

            </tr>
            <tr *ngFor="let detail of lastMonthDetails">
                <td>{{detail[0]}}</td>
                <td>{{detail[1]}}</td>
                <td>{{detail[2]}}</td>
                <td>{{detail[3]}}</td>

            </tr>
        </table>
    </div>
</body>