<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="payment.component.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <h3>Mode of Payment</h3>
      <br />
      <input type="radio" name="card" />Card <br />
      <table>
        <tr>
          <td>card no</td>
          <td><input type="text" value="XXXX XXXX XXXX 1234" /></td>
        </tr>
        <tr>
          <td>cvv</td>
          <td><input type="text" /></td>
        </tr>
        <br /><br />
      </table>
      <input type="radio" name="card" />Wallet <br /><br />
      <button>Continue</button>
    </div>
  </body>
</html>
