<div class="table-list">
    <table class="bookings">
        <tr>
            <th>Booking ID</th>
            <th>BUS NAME</th>
            <th>BUS ID</th>
            <th>FROM</th>
            <th>TO</th>
            <th>Booking Date</th>
            <th>Booking Time</th>
            <th>No. of Bookings</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let booking of bookings">
            <td>{{booking.bookingId}}</td>
            <td>{{booking.busName}}</td>
            <td>{{booking.busId}}</td>
            <td>{{booking.journeyStartPos}}</td>
            <td>{{booking.journeyEndPos}}</td>
            <td>{{booking.dateOfTravel}}</td>
            <td>{{booking.timeOfTravel}}</td> 
            <td>{{booking.noOfBookings}}</td>
            <td><button class="button" (click)="printBooking(booking)" routerLink="/ticket">Print</button></td>
            <td><button class="button" *ngIf="showCancelOrNot(booking.dateOfTravel,booking.bookingId)" routerLink="/cancel-booking" (click)="cancelBooking(booking)">Cancel</button></td>
            <td>{{booking.bookingStatus}}</td>
        </tr>
    </table>
</div>
