<app-homepage></app-homepage>
<div text align="center">
    We are India’s largest online bus ticketing platform that has transformed bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses. Founded in 2006, We are a part of India’s leading online travel company
    Traveller Limited (NASDAQ: Traveller). By providing widest choice, superior customer service, lowest prices and unmatched benefits, EcoBus has served over 18 million customers. EcoBus has a global presence with operations across Indonesia, Singapore,
    Malaysia, Colombia and Peru apart from India.</div>