<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="cancel-booking.component.css"
      type="text/css"
    />
    <title>Cancel booking</title>
  </head>
  <body>
    <div class="content">
      <h3>Resaon for Cancellation?</h3>
      <textarea name="reason" cols="50"></textarea><br /><br />

      <h3>How do you want the booking amount refunded?</h3>

      <input type="radio" />wallet <input type="radio" /> account charges info

      <br /><br />
      <a><button>CONFIRM</button></a>
      <h4>Do you wish to reschedule?</h4>
      <!--[routerLink]="['/home]"-->
      <a><button>YES</button></a>
      &nbsp;
      <!--[routerLink]="['/bookings']"-->
      <a><button>NO</button></a>
    </div>
  </body>
</html>
