<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="cancel-booking.component.css"
      type="text/css"
    />
    <title>Cancel booking</title>
  </head>
  <body>
    <div class="content">
      <h3>Reason for Cancellation?</h3>
      <textarea name="reason" cols="50"></textarea><br /><br />

      <h3>Mode of Refund?</h3>

      <input type="radio" name="modeOfPayment" />wallet
      <input type="radio" name="modeOfPayment" /> account

      <br /><br />
      <a><button type="submit" (click)="cancel()">CONFIRM</button></a>
      <br />
      <div *ngIf="data">Your booking is {{ data.statusMessage }}!</div>
      <br />

      <div *ngIf="data.status == true">
        <h4>Do you wish to reschedule?</h4>
        <!--[routerLink]="['/home]"-->
        <a [routerLink]="['/dashboard']"><button>YES</button></a>
        &nbsp;
        <!--[routerLink]="['/bookings']"-->
        <a [routerLink]="['/dashboard']"><button>NO</button></a>
      </div>
    </div>
  </body>
</html>
