<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="cancel-booking.component.css"
      type="text/css"
    />
    <title>Cancel booking</title>
  </head>
  <body>
    <div class="content">
      <h3>Reason for Cancellation?</h3>
      <textarea name="reason" cols="50"></textarea><br /><br />

      <h5>
        The booking amount: Rs.{{ amount }} will be refunded to your account
        wallet
      </h5>
      <br />

      <div *ngIf="data">
        {{ data.status }}
        {{ data.statusMessage }}
        {{ data.customerId }}
      </div>

      <a><button type="submit" (click)="cancel()">CONFIRM</button></a><br />
      <br />
      <div *ngIf="data">
        <h5>
          Your booking with booking id {{ bookingId }} for {{ id }}
          {{ data.statusMessage }}!
        </h5>
      </div>

      <div *ngIf="data.status == false">
        <h5 style="color: red">
          Please register first, in order to receive refund amount.<br /><br />
          <a [routerLink]="['/signup']"
            ><button style="width: auto">Sign up here</button></a
          >
        </h5>
      </div>
      <br />
      <div *ngIf="data.status == true">
        <h4>Do you wish to reschedule?</h4>
        <!--[routerLink]="['/home]"-->
        <a [routerLink]="['/dashboard']"><button>YES</button></a>
        &nbsp;
        <!--[routerLink]="['/bookings']"-->
        <a [routerLink]="['/dashboard']"><button>NO</button></a>
      </div>
    </div>
  </body>
</html>
