<form [formGroup]="updateUserProfile">
    <div class="row2">
        <div class="entry">
            <label class="span">Name</label>
            <input type="text"
                [class.is-invalid]="updateUserProfile.get('name').invalid && updateUserProfile.get('name').touched"
                formControlName="name" value="{{customer.name}}">
                <div *ngIf="updateUserProfile.get('name').invalid && updateUserProfile.get('name').touched">
                    <small *ngIf="updateUserProfile.get('name').errors?.required" class="text-danger">Name
                        required</small>
                </div>
        </div>

        <div class="entry">
            <label class="span">EMAIL Address</label>
            <input type="email"
                [class.is-invalid]="updateUserProfile.get('email').invalid && updateUserProfile.get('email').touched"
                formControlName="email" value="{{customer.email}}">
            <div *ngIf="updateUserProfile.get('email').invalid && updateUserProfile.get('email').touched">
                <small *ngIf="updateUserProfile.get('email').errors?.required" class="text-danger">Email Address
                    required</small>
                <small *ngIf="updateUserProfile.get('email').errors?.pattern" class="text-danger">Enter correct
                    Email
                    Address</small>
            </div>
        </div>
    </div>

    <div class="row2">
        <div class="entry">
            <label class="span">Phone Number</label>
            <input type="tel"
                [class.is-invalid]="updateUserProfile.get('mobileNo').invalid && updateUserProfile.get('mobileNo').touched"
                formControlName="mobileNo" value="{{customer.mobileNo}}">
            <div *ngIf="updateUserProfile.get('mobileNo').invalid && updateUserProfile.get('mobileNo').touched">
                <small *ngIf="updateUserProfile.get('mobileNo').errors?.required" class="text-danger">Phone Number
                    required</small>
                <small *ngIf="updateUserProfile.get('mobileNo').errors?.pattern" class="text-danger">Enter correct
                    phone Number</small>
            </div>
        </div>

        <div class="entry">
            <label class="span">Gender</label><br>
            <input type="radio" name="gender" formControlName="gender" value="Male">Male
            <input type="radio" name="gender" formControlName="gender" value="Female">Female
            <input type="radio" name="gender" formControlName="gender" value="Other">Other
        </div>
    </div>

    <div class="row2">
        <div class="entry">
            <label class="span">Address</label>
            <input type="text"
                [class.is-invalid]="updateUserProfile.get('address').invalid && updateUserProfile.get('address').touched"
                formControlName="address" value="{{customer.address}}">
            <div *ngIf="updateUserProfile.get('address').invalid && updateUserProfile.get('address').touched">
                <small *ngIf="updateUserProfile.get('address').errors?.required" class="text-danger">Address
                    required</small>
            </div>
        </div>

        <div class="entry">
            <label class="span">Date of Birth</label>
            <input type="date"
                [class.is-invalid]="updateUserProfile.get('dateOfBirth').invalid && updateUserProfile.get('dateOfBirth').touched"
                formControlName="dateOfBirth" value="{{customer.dateOfBirth| date:'yyyy-mm-dd' }}">
            <div *ngIf="updateUserProfile.get('dateOfBirth').invalid && updateUserProfile.get('dateOfBirth').touched">
                <small *ngIf="updateUserProfile.get('dateOfBirth').errors?.required" class="text-danger">Date of Birth
                    required</small>
            </div>
        </div>
    </div>

    <div class="update">
        <button (click)="updateProfileChanges()">Update Profile</button>
    </div>
</form>