<html>
  <head>
    <link rel="stylesheet" href="passwordreset.component.css" type="text/css" />
    <title>Reset Password</title>
  </head>

  <body>
    <div class="container">
      <h2>Reset Password</h2>
      <div class="form-content">
        <table>
          <tr>
            <td>New password:</td>
          </tr>
          <tr>
            <td><input type="password" /></td>
          </tr>
          <br />
          <tr>
            <td>Confirm Password:</td>
          </tr>
          <tr>
            <td><input type="password" /></td>
          </tr>
        </table>
        <br />
        <button>Set Password</button>
      </div>
    </div>
  </body>
</html>
