.container {
  position: relative;
  left: 400px;
}
.container .form-content {
  border: 1px solid black;
  width: 30%;
  margin: 10px;
  padding: 40px;
}
input {
  border: none;
  border-bottom: 1px solid gray;
  width: 300px;
  height: 2px;
  transition: width 0.35s ease-in-out;
}
input:focus {
  border: 1px solid blue;
  height: 40px;
}

button {
  background-color: rgb(26, 147, 247);
  color: white;
  border: none;
  width: 150px;
  height: 40px;
}
