<div class="container">
  <div class="c1">
    <div class="amount">
      <label for="recharge">Enter amount</label>
      <input #amt type="number" name="amt" [(ngModel)]="amount" />
    </div>
    <div class="payment">
      <h3>Enter card details</h3>
      <label for="cardno">Card No</label>
      <input disabled type="text" placeholder="XXXX XXXX XXXX 1234" />

      <label for="cvv">CVV</label>
      <input type="number" required />

      <button (click)="wallet()">RECHARGE</button>
      {{ msg }}
      <div *ngIf="walletPage">
        <a [routerLink]="['/dashboard/wallet']"
          ><button>GO BACK TO WALLET PAGE</button></a
        >
      </div>
    </div>
  </div>
</div>
