<div class="container">
  <h2>Reset Password</h2>
  <form [formGroup]="ResetForm" (ngSubmit)="(f.form.valid)" #f="ngForm">
    <div class="form-content">
      <table>
        <tr>
          <td>Old password:</td>
        </tr>
        <tr>
          <td>
            <input
              type="password"
              formControlName="password"
              name="password"
              [class.is-invalid]="ResetForm.controls.password.invalid"
            />
          </td>
        </tr>
        <div *ngIf="Password.invalid && Password.touched">
          <div class="error">
            ! Password should consist of minimum 8 characters.
          </div>
        </div>

        <tr>
          <td>New password:</td>
        </tr>
        <tr>
          <td>
            <input
              type="password"
              formControlName="password1"
              name="password1"
              [class.is-invalid]="ResetForm.controls.password1.invalid"
            />
          </td>
        </tr>
        <div *ngIf="PasswordNew.invalid && PasswordNew.touched">
          <div class="error">
            ! Password should consist of minimum 8 characters.
          </div>
        </div>

        <tr>
          <td>Confirm Password:</td>
        </tr>
        <tr>
          <td>
            <input
              type="password"
              formControlName="password2"
              name="password2"
              [class.is-invalid]="ResetForm.controls.password2.invalid"
            />
          </td>
        </tr>
        <div *ngIf="PasswordConf.invalid && PasswordConf.touched">
          <div class="error">! The passwords must match</div>
        </div>
      </table>
      <br />
      <button routerLink="/dashboard" (click)="onSetClick()" type="submit">
        Set Password
      </button>
    </div>
  </form>
</div>
