<div class="container">
  <h2>Reset Password</h2>
  <div class="form-content">
    <form [formGroup]="ResetForm" (ngSubmit)="(f.form.valid)" #f="ngForm">
      <table>
        <tr>
          <td>Old password:</td>
        </tr>
        <tr>
          <td>
            <input
              type="password"
              formControlName="password"
              [(ngModel)]="oldPassword"
              [class.is-invalid]="ResetForm.controls.password.invalid"
            />
          </td>
        </tr>
        <div *ngIf="Password.invalid && Password.touched">
          <div class="error">
            ! Password should consist of minimum 8 characters.
          </div>
        </div>

        <tr>
          <td>New password:</td>
        </tr>
        <tr>
          <td>
            <input
              type="password"
              formControlName="password1"
              [(ngModel)]="newPassword"
              [class.is-invalid]="Password.invalid"
            />
          </td>
        </tr>
        <div *ngIf="PasswordNew.invalid && PasswordNew.touched">
          <div class="error">
            ! Password should consist of minimum 8 characters.
          </div>
        </div>

        <tr>
          <td>Confirm Password:</td>
        </tr>
        <tr>
          <td>
            <input type="password" formControlName="password2" />
          </td>
        </tr>
        <div *ngIf="ResetForm.errors?.misMatch">
          <div class="error">! Passwords doesn't match</div>
        </div>
      </table>
      <br />
      <button
        (click)="onSetClick()"
        [disabled]="!ResetForm.valid"
        type="submit"
      >
        Set Password
      </button>
    </form>
  </div>
</div>
