.container {
  position: relative;
  left: 400px;
  padding-right: 10px;
}
.form-content {
  border: 1px solid black;
  position: relative;
  left: -100px;
  width: 35%;
  margin: 10px;
  padding: 40px;
}
.error {
  color: red;
  padding-bottom: 4px;
}
input {
  padding: 20px 5px;
  width: 300px;
  height: 10px;
  transition: width 0.35s ease-in-out;
  overflow: hidden;
  margin-right: 15px;
  border: none;
  border-bottom: 1px solid gray;
}
input:focus {
  border: 1px solid blue;
  height: 40px;
}

button {
  background-color: rgb(26, 147, 247);
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
