<app-homepage></app-homepage>
<div class="row center">
    <div class="main">
        <div class="card">
            <form [formGroup]="LoginForm" (ngSubmit)="f.form.valid" #f="ngForm">
                <h2 align="center">Login</h2>
                <div class="form-group">
                    <label><b><i class="fas fa-envelope"></i> Email Address</b></label>
                    <input type="email" formControlName="email" placeholder="Enter Email Address" name="t1" [(ngModel)]=login.emailId >

                    <div *ngIf="Email.invalid && Email.touched">
                        <div class="error">! Enter valid Email.</div>
                    </div>

                    <br>
                    <label><b><i class="fas fa-lock"></i> Password</b></label><br>
                    <input type="password" formControlName="password" placeholder="Enter Password" name="t2" [(ngModel)]=login.password>

                    <div *ngIf="Password.invalid && Password.touched">
                        <div class="error">! Password should consist of minimum 8 characters.</div>
                    </div>
                    <br>
                    <button class="button1" (click)="onLoginClick()">Login</button>
                    <button class="button1" routerLink="/" type="button">Cancel</button><br>
                    <a routerLink="/frequentlytravelledroutes">Login as Admin</a><br>
                    <a routerLink="/forgotPassword">Forgot Password?</a>

                </div>
            </form>
        </div>
    </div>
</div>