button {
  background-color: rgb(26, 147, 247);
  color: white;
  border: none;
  width: 30px;
  height: 35px;
}
button:focus {
  background-color: brown;
}
.content {
  margin: 30px;
  padding: 20px;
  width: 18%;
  position: relative;
  left: 450px;
  border: 1px solid black;
}
pre {
  border: 1px solid black;
  position: relative;
  left: 180px;
  width: 45px;
}
