<body>
    <app-homepage></app-homepage>
    <div class="home">
        <button class="button1" routerLink="/adminHome" type="button">Home</button>
    </div>
    <div class="table-list ">
        <table class="routes ">
            <tr>
                <th>Route(Source to Destination)</th>
                <th>Total Bookings</th>

            </tr>
            <tr *ngFor="let routes of frequentRoute ">
                <td>{{routes[1]}}</td>
                <td>{{routes[0]}}</td>
            </tr>
        </table>
    </div>
</body>