<app-homepage></app-homepage>
<div class="topnav">
    <span class="navitem">{{source}}</span>
    <span class="navitem">To</span>
    <span class="navitem">{{destination}}</span>
    <span class="navitem">{{travelDate}}</span>
    <span>
        <button class="button2" routerLink="/homepage">Edit</button>
    </span>
</div>
<div class="checkout" *ngIf="!checkout">
    <div class="container">
        <div>
            <button (click)="addPassenger()" class="button">Add Passenger</button>
            <h2 *ngIf="isAdd">Click Add Passenger to add a Passenger</h2>
        </div>
        <div class="passenger">
            <div *ngFor="let element of dummies">
                <div class="form" *ngIf="element.showDummy">
                    <h2>Passenger Details</h2>
                    <div class="input">
                        <h3>Name</h3>
                        <input type="text" name="name" [(ngModel)]="name">
                    </div>
                    <div class="input">
                        <h3>Age</h3>
                        <input type="number" name="age" [(ngModel)]="age">
                    </div>
                    <div class="input">
                        <h3>Address</h3>
                        <input type="text" name="address" [(ngModel)]="address">
                    </div>
                    <div class="radio">
                        <h3>Gender</h3>
                        <input type="radio" name="gender" [(ngModel)]="gender" value="Male">
                        <span> Male</span>
                        <input type="radio" name="gender" [(ngModel)]="gender" value="Female">
                        <span> Female</span>
                        <input type="radio" name="gender" [(ngModel)]="gender" value="Other">
                        <span> Other</span>
                    </div>
                    <div>
                        <button class="button" (click)="savePassenger(element)">Save</button>
                    </div>
                </div>
                <div class="message" *ngIf="!element.showDummy">
                    <h2>Successfully added Passenger</h2>
                </div>
            </div>
        </div>
        
        <button (click)="submitPassengers()" class="button" *ngIf="!checkout"> Proceed</button>
    </div>

    <small class="error" *ngIf="error">Please enter all Passenger details</small>
</div>
<div class="owner" *ngIf="checkout">
    
</div>
<div class="content" *ngIf="checkout">
    
    <div>
        <h2> Please confirm your Details</h2>
    </div>
    <div *ngIf="!editForm">
        <div *ngFor="let pas of passengers">
            <span class="entry">
                <span class="cell">
                    <span>Name</span>
                    <span>{{pas.name}}</span>
                </span>
                <span class="cell">
                    <span>Age</span>
                    <span>{{pas.age}}</span>
                </span>
                <span class="cell">
                    <span>Address</span>
                    <span>{{pas.address}}</span>
                </span>
                <span class="cell">
                    <span>Gender</span>
                    <span>{{pas.gender}}</span>
                </span>
                <span class="cell">
                    <button (click)="editPassengerRequest(pas)" class="button">Edit</button>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <h3>Enter PAN CARD DETAILS</h3>
        <input type="text" name="panCard" [(ngModel)]="panCard" required>
    </div>
    <div class="row">
        <h3>ENTER MOBILE NUMBER</h3>
        <input type="tel" name="mobileNumber" [(ngModel)]="mobileNumber" required>
    </div>
    <div *ngIf="editForm">
        <div class="input">
            <h3>Name</h3>
            <input type="text" name="name" [(ngModel)]="name">
        </div>
        <div class="input">
            <h3>Age</h3>
            <input type="number" name="age" [(ngModel)]="age">
        </div>
        <div class="input">
            <h3>Address</h3>
            <input type="text" name="address" [(ngModel)]="address">
        </div>
        <div>
            <h3>Gender</h3>
            <input type="radio" name="gender" [(ngModel)]="gender" value="Male">
            <span> Male</span>
            <input type="radio" name="gender" [(ngModel)]="gender" value="Female">
            <span> Female</span>
            <input type="radio" name="gender" [(ngModel)]="gender" value="Other">
            <span> Other</span>
        </div>
        <div>
            <button (click)="editPassenger()" class="button">Submit</button>
        </div>
    </div>
    <div>
        <button (click)="saveBooking()" class="button">Proceed to Payment Page</button>
    </div>
</div>