body {
    background-color: rgb(241, 241, 241);
    z-index: -1000;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: #008CBA;
    overflow-x: hidden;
    padding-top: 20px;
    border: 4px solid black;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #080808;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: #008CBA;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #e9e9e9;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.routes {
    position: absolute;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
    left: 650px;
}

.routes td,
.routes th {
    border: 1px solid #ddd;
    padding: 8px;
}

.routes td,
.routes th {
    border: 1px solid #ddd;
    padding: 8px;
}

.routes tr:nth-child(even) {
    background-color: #f2f2f2;
}

.routes tr:hover {
    background-color: #ddd;
}

.routes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightblue;
    color: white;
}

.routes tr:nth-child(even) {
    background-color: #f2f2f2;
}