<body>
    <app-homepage></app-homepage>
    <div class="home">
        <button class="button1" routerLink="/adminHome" type="button">Home</button>
    </div>
    <div class="table-list">
        <table class="routes">
            <tr>
                <th>Bus-Type</th>
                <th>Bookings</th>

            </tr>
            <tr *ngFor="let mostPreferred of mostPreferredBus">
                <td>{{mostPreferred[1]}}</td>
                <td>{{mostPreferred[0]}}</td>
            </tr>
        </table>
    </div>
</body>