.body {
    background-image: linear-gradient(20deg, #EADEDB 10%, rgb(67, 190, 231) 85%);
    height: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}