<app-homepage></app-homepage>
<div class="topnav">
    <span class="navitem">{{realDto.source}}</span>
    <i class="fas fa-arrow-alt-circle-right"></i>
    <span class="navitem">{{realDto.destination}}</span>
    <span class="navitem">{{realDto.travelDate}}</span>
    <div>
        <button class="button" routerLink="/homepage">Edit</button>
    </div>
</div>
<div class="sidebar">
    <h2>Filters</h2>
    <div class="options">
        <h3>Bus Type</h3>
        <span><input type="checkbox" name="type" [(ngModel)]="type">AC</span>
    </div>
    <div class="options">
        <h3>Departure Time</h3>
        <div><input type="checkbox" name="depart" [(ngModel)]="depart1"  value="morning">6 AM TO 6 PM</div>
        <div><input type="checkbox" name="depart" [(ngModel)]="depart2"  value="evening">6 PM TO 6 AM</div>
    </div>
    <div class="options">
        <h3>Arrival Time</h3>
        <div><input type="checkbox" name="arrival" [(ngModel)]="arrival1" value="morning">6 AM TO 6 PM</div>
        <div><input type="checkbox" name="arrival" [(ngModel)]="arrival2"  value="evening">6 PM TO 6 AM</div>
    </div>
</div>

<div class="content">
    <div>
        <h2 *ngIf="display" [(ngModel)]="display">{{numberOfBuses}} Buses Available</h2>
    </div>
    <div *ngFor="let bus of buses">
        <div class="entry" *ngIf="checkBus(bus)">
            <span class="cell">
                <div>{{bus.busName}}</div>
                <div>{{bus.type}}</div>
            </span>
            <span class="cell">
                <h3>Departure time</h3>
                <div>{{bus.departureTime}}</div>
                <div>{{realDto.travelDate}}</div>
                <div>{{realDto.source}}</div>
            </span>

            <span class="cell">
                <h3>Arrival time</h3>
                <div>{{bus.arrivalTime}}</div>
                <div>{{realDto.travelDate}}</div>
                <div>{{realDto.destination}}</div>
            </span>
            <span class="cell cell3">
                <h3>Amount</h3>
                <div>{{bus.amount}}</div>
                <div></div>
            </span>
            <span class="cell cell3">
                <h3>Seats </h3>
                <div>{{bus.seats}}</div>
                <div></div>
            </span>
            <div class="cell cell2 ">
                <button class="button1" (click)="getBusId(bus)" routerLink="/passenger">Book</button>
            </div>
        </div> 
    </div>
</div>

<!----------------------------------------------------------------------------------->
   