<body>
    <div class="sidenav">
        <button class="dropdown-btn">Add/Remove Assets
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a>Add/Remove Buses</a>
            <a>Add/Remove Drivers</a>
            <a>Add/Remove Routes</a>
        </div>
        <button class="dropdown-btn">Analytics
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a [routerLink]="['/frequentlytravelledroutes']">Frequently travelled routes</a>
            <a [routerLink]="['/lastmonthrecordsandprofit']">Last month record and profits</a>
            <a [routerLink]="['/mostpreferredtypeofbuses']">Most preferred types of buses</a>
            <a [routerLink]="['/registeredcustomerbutnoreservation']">Customer who have registered but not made any reservation</a>
            <a [routerLink]="['/reservationdetails']">Reservation details of customers (daily, weekly, monthly basis)</a>
        </div>
    </div>
</body>