
<div id="row">
    <div class="main">
      <div class="card">
        <form [formGroup]=signupForm (ngSubmit)="f.form.valid" #f="ngForm"> 
          
          <div class="container">
            <h2 align="center">Registration Form</h2>
            
            <label><b>Full Name</b></label><br />
            <input type="text" placeholder="Enter your name" name="fullname" formControlName="fullname" [(ngModel)]=search.fullname [class.is-invalid]="signupForm.controls.fullname.invalid && fullname.touched">

            <div *ngIf="fullname.invalid && fullname.touched">
              <div class="error">! Enter your full name</div>
            </div>

            <label><b>Username</b></label><br />
            <input type="text" placeholder="Enter User Name" name="uname" >

            <label for="email"><b>E-mail Address</b></label><br />
            <input type="email" placeholder="Enter E-mail Address" name="email"formControlName="email" [(ngModel)]=search.email [class.invalid]="signupForm.controls.email.invalid">

            <div *ngIf="email.invalid && email.touched">
              <div class="error">! Email address entered is not valid</div>
            </div>

            <label for="password"><b>Password</b></label><br />
            <input type="password" placeholder="Enter Password" name="password" formControlName="password" [(ngModel)]=search.password [class.invalid]="password.invalid">

            <div *ngIf="password.invalid && password.touched">
              <div class="error">! Password should consist of minimum 8 characters.</div>
            </div>

            <label for="confirmPassword"><b>Confirm Password</b></label><br />
            <input type="password" placeholder="Enter Password Again" name="confirmPassword" formControlName="confirmPassword">

            <div *ngIf="signupForm.errors?.misMatch">
              <div class="error">! Passwords doesn't match</div>
            </div>

            <label for="mobile"><b>Mobile No.</b></label><br />
            <input type="tel" placeholder="Enter Mobile Number" name="mobile" formControlName="mobile" [(ngModel)]=search.mobile>

            <div *ngIf="mobile.invalid && mobile.touched">
              <div class="error">! Enter a valid phone number</div>
            </div>

            <label for="dob"><b>Date of Birth</b></label><br />
            <input type="date" name="dob" formControlName="dob" [(ngModel)]=search.dob>

            <button class="button1" (click)=onSignupClick() type="submit">Sign Up</button>
            <button class="button1" routerLink="/"  >Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  