<div class="status">
  <h5>Your Total Fare: Rs.{{ amount }}</h5>
</div>
<div class="content">
  <div *ngIf="notRegistered">
    Enter Email-Id/PhoneNo:<br /><input type="text" />
  </div>
  <h3>MODE OF PAYMENT</h3>
  <br />
  <form [formGroup]="userForm">
    <input type="radio" formControlName="card" value="card" />&nbsp;&nbsp;DEBIT
    CARD<br />
    <table>
      <tr>
        <td>Card No</td>
        <td>
          <input type="text" placeholder="XXXX XXXX XXXX 1234" />
        </td>
      </tr>
      <tr>
        <td>CVV</td>
        <td><input type="text" /></td>
      </tr>
    </table>
    <br /><br />
    <td>
      <input
        type="radio"
        formControlName="card"
        value="wallet"
      />&nbsp;&nbsp;WALLET
    </td>
  </form>
  <span *ngIf="userForm.get('card').invalid && clicked" style="color: red"
    >Please select a mode of payment first</span
  >
  <br />
  <button type="submit" (click)="pay()">PAY</button>
</div>
<br />
<div class="status">
  <div *ngIf="data; else notPaid">
    <h4 style="color: green">
      Payment successful!!<br />
      <a routerLink="/ticket"><button>CONTINUE</button></a>
    </h4>
  </div>
  <ng-template #notPaid>
    <div *ngIf="clicked">
      <h7 style="color: red">Payment unsuccessful<br /></h7>
      <a routerLink="/homepage"><button>TRY AGAIN</button></a>
    </div>
  </ng-template>
</div>
