button {
  background-color: rgb(26, 147, 247);
  color: white;
  border: none;
  width: 150px;
  height: 40px;
}
input::after {
  content: "\a";
  white-space: pre;
}
.content {
  margin: 50px;
  position: relative;
  left: 500px;
}
