<div class="profile">
    <div class="container">
        <img src="{{path}}" alt="Photo">

        <div class="info">
            <span></span>
            <span class="span"> {{customer.name}}</span>
        </div>
    </div>
    <div class="secondcol">
        <div class="row1">
            <div>
                <span>EMAIL Address</span>
                <span class="span"> {{customer.email}}</span>
            </div>

            <div>
                <span>Phone Number</span>
                <span class="span"> {{customer.mobileNo}}</span>
            </div>
        </div>
        <div class="row1">
            <div>
                <span>Gender</span>
                <span class="span"> {{customer.gender}}</span>
            </div>
            <div>
                <span>Date of Birth </span>
                <span class="span"> {{customer.dateOfBirth| date:'yyyy-mm-dd'}}</span>
            </div>
        </div>
        <div class="row3">
            <div>
                <span>Address</span>
                <span class="span"> {{customer.address}}</span>
            </div>
        </div>
    </div>

    <div class="update">
        <button routerLink="../profile-pic">Upload Photo</button>
        <button routerLink="../editprofile">Edit Profile</button>
    </div>
</div>
