<body>
    <app-homepage></app-homepage>
    <div class="sidenav">
        <button class="dropdown-btn">Add/Remove Assets
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a [routerLink]="['/addbus']">Add Bus</a>
            <a [routerLink]="['/removebus']">Remove Bus</a>
            <a [routerLink]="['/addstops']">Add/Update Routes</a>

        </div>
        <button class="dropdown-btn">Analytics
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a [routerLink]="['/frequentlytravelledroutes']">Frequently travelled routes</a>
            <a [routerLink]="['/lastmonthrecordsandprofit ']">Last month record and profits</a>
            <a [routerLink]="['/mostpreferredtypeofbuses']">Most preferred types of buses</a>
            <a [routerLink]="['/registeredcustomerbutnoreservation']">Customer who have registered but not made any reservation</a>
            <a [routerLink]="['/reservationdetails']">Reservation details of customers () (monthly,annual basis)</a>
        </div>
    </div>
    <div class="search">
        <input type='text' placeholder="Enter booking id or email-id" [(ngModel)]='search'>
        <a [routerLink]="['/result']"><button type=' submit ' (click)='passthesearch()'>search</button></a>
    </div>
    <div CLASS=" welcome ">Welcome Shivam!</div>
</body>