<div id="forgot-pass">
  <div id="forgot">
    <h2>Enter your registered email id :</h2>
    <input
      type="Email"
      [(ngModel)]="email"
      placeholder="Enter email id"
      name="email"
    />
    <br />
    <button class="button1" type="submit" (click)="sendOtpMail()">
      Send OTP
    </button>
    <button class="button1" type="submit" [routerLink]="['/']">Cancel</button>
  </div>
</div>

<div *ngIf="customerId">
  <h3>Enter OTP received in mail:</h3>
  <div class="otpInput">
    <br />
    <input type="text" [(ngModel)]="otp" placeholder="(4 digits)" />
    <br />
    <button class="button2" type="submit" (click)="checkOtp()">Submit</button>
  </div>
</div>
