<div class="container">
    <h1 align="center">Online Ticket booking</h1>
    <form [formGroup]=searchForm (ngSubmit)="searchBuses()" #f="ngForm"> 
            <select class="custom-select" formControlName="src" [(ngModel)]=search.source><br>
                <option value="" disabled selected>Select source</option>
                <option *ngFor="let s of stops">{{s}}</option>                
            </select>

        <div *ngIf="Src.invalid && Src.touched">
            <div class="error">! Source field cannot be empty</div>
        </div>

        <select class="custom-select" formControlName="dst" [(ngModel)]=search.destination>
            <option value="" disabled selected> Select destination  </option>
            <option *ngFor="let s of stops">{{s}}</option> 
        </select>
        
        <div *ngIf="Dst.invalid && Dst.touched">
            <div class="error">! Destination field cannot be empty</div>
        </div>
        
        <input [ngModel]="travelDate | date:'yyyy-MM-dd'" (ngModelChange)="travelDate = $event" type="date" name="travelDate"/><br>
        <button class="button1" style="margin-left: 45%;" routerLink="/showBuses" (click)="sendDto()" type="submit">Show Buses</button>
    </form>
</div>   


