<app-homepage></app-homepage>
<div class="pageContent">
  <h4>CONGRATS!!!! YOU HAVE SUCCESSFULLY BOOKED YOUR TICKET</h4>
  <button (click)="view()">CLICK HERE TO VIEW DETAILS</button><br /><br />
  <div *ngIf="viewTicket">
    <div class="ticket" id="printsection">
      <h3>{{status.busName}} Travels</h3>
      <hr />
      <table>
        <tr>
          <td>Payment Id  :</td>
          <td>{{status.paymentId}}</td>
        </tr>
        <tr>
          <td>Route :</td>
          <td>{{status.route}}</td>
        </tr>
        <tr>
          <td>Bus No :</td>
          <td>{{status.busId}}</td>
        </tr>
        <tr>
          <td>Contact Details :</td>
          <td>{{status.mobileNumber}}</td>
        </tr>
        <tr>
          <td>Seats Booked :</td>
          <td>{{status.numberOfPassengers}}</td>
        </tr>
        <tr>
          <td>Payment DateTime</td>
          <td>{{status.paymentDateTime}}</td>
        </tr>
        <tr>
          <td>Date Of Travel :</td>
          <td>{{status.dateOfTravel}}</td>
        </tr>
        <tr>
          <td>Total Fare:</td>
          <td>Rs.{{status.amount}}</td>
        </tr>
      </table>
      <hr />
      
    </div>
    <button printSectionId="printsection" ngxPrint>Print</button>
    <h2>HAPPY JOURNEY!!</h2>
  </div>
</div>
